.profilepage-content{
    margin-top:2%;
}

.profilepage-content .header{
    width: 70%;
    margin-left: 17%;
    margin-top: 2%;
}

.profilepage-pictures .pic {
    margin-top: 10%;
    margin-left: 25%;
    height:auto;
    max-width: 20%;
}

.profilepage-pictures .pic img{
    width: 480px;
    height: 640px;
    margin-left: 10%;
}

.profilepage-pictures .profilepage-edit{
   margin-left: 27%;
}

.profilepage-pictures .profilepage-edit img{
    margin-top: 2%;
    width: 50px;
    height: auto;
}

.profilepage-update{
    margin-top: 2.5%;
    margin-left: 3%;
}

.profilepage-update img{
    margin-top: 2%;
    width: 50px;
    height: auto;
}

.profilepage-content .profilepage-title h2 {
    margin-left: 50%;
    margin-top: 2.5%;
}

.profilepage-content .profilepage-title hr {
    max-width: 37.5%;
    margin-left: 50%;
    margin-top: 1.8%;
 }

.profilepage-content .profilepage-title h3 {
    margin-left: 50%;
}

.profilepage-information{
    margin-left: 50% ;
    width: 50%;
}
.profilepage-information .profilepage-information-title{
    max-width: 74%;
    text-align: center;
    margin-bottom: 3%;
}
.profilepage-information .profilepage-information-body{
    max-width: 74%;
    margin-bottom: 3%;
}

.profilepage-pictures .pic img{
    width: 300px;
    height: auto;
 }