
/* Desktop User Inte*/
body{
    margin: 0;
    padding: 0;
}
.content{
    margin-left:100px;
    margin-top: 30px;
}

.content .input{
    width: 90%;
}

.content-search{
    margin-left: 10%;
    margin-top:2%;
}

.content-search Button{
    margin-left: 2%;
    margin-top: -0.7%;
}

.content-header{
    margin-left: 10%;
    width: 70%;
    margin-top:3%;
}

.content-table{
    margin-left: 9.5%;
    width: 70.5%;
    margin-top:3%;
}

.content .form-group{
    padding-bottom: 20px;
    width:50%;
    margin-top:10px;
}

.content label{
    padding-bottom: 10px;
}

.content .back-action, .submit{
    margin-top: 50px;
}

.content .back-action{
    margin-left: 50px;
}
.content-form{
    margin-left: 10%;
    margin-top: 2%;
}

/* Details*/ 
.details-header{
    max-width: 70%;
    margin-left: 14%;
    margin-top: 1.5%;
}
.details-pictures{
    margin-right: 45%;
    margin-top: 2%;
    width: '18rem';
}
.details-pictures img{
    width: 283px;
    height: 283px;
}

.details-edit{
    margin-left: 47%;
    color: white;
}

.details-edit img{
  width: 25px;
  height: 25px;
  margin-left: -10px; 
}

.details-title{
    margin-top: -37.5%;
    margin-left: 80%;
    width: 72%;
}

.details-information-title{
    width: 47em;
}
.details-information-title h3{
    margin-top: 10px;
    margin-left: 20px;
}

.details-information{
    margin-left: 80%;
    margin-top: 1%;
}
.details-information-body{
    margin-top: 8%;
    width: 47em;
}

/* Button */
.details-content .details-back {
    margin-top:4%;
    margin-left: 80%;
}
/* Button */
.details-content .details-archive{
    margin-left:7%;
    margin-top:4%;
}

/* Edit Page */
.edit-body .header{
    margin-left: 10%;
    width: 70%;
    margin-top:2%;
}
.form-details Form{
    margin-left:10%;
    margin-top: 1%;
}
.form-details textarea{
    max-width: 50%;
    margin-left: 10%;
}
.form-details .form-pic img{
    margin-left: 10%;
    width: 480px;
    height: 360px;
}

.form-details .line{
    margin-left:-7%;
    max-width: 100%;
}

/* Button */
.edit-body .form-details .Back-Action{
    margin-top:2%;
    margin-left: 5%;
}
.edit-body .form-details .Submit-Action{
    margin-top:2%;
    margin-left:10%;
}

.content-search .input-words{
    max-width: 77.5%;
}