
body{
    background-color: aliceblue;
}
.QR-view .header{
    margin-left: 10%;
    width: 70%;
    margin-top:2%;
}

.QR-view .search{
    margin-left: 10%;
    margin-top:2%;
}

.QR-view .search Button{
    margin-left: 2%;
    margin-top: -0.7%;
}

.QR-view .table, .table-header{
    margin-left: 5.5%;
    width: 83.5%;
    margin-top:3%;

}
.QR-view img{
    width: 140px;
    height: 140px;
}

.create-body .header {
    text-align: left;
    margin-left: 10%;
}

.form-create input{
    width: 50%;
    margin-left: 10%;
}

.form-create label{
    margin-bottom:10px;
    margin-left: 10%;
}

.form-create label, input{
    padding-top:10px;
}
/* QR Code CSS */
.form-create .QR-Code {
    float: right;
    margin-top: -30%;
    margin-right: 10%;
    padding-top:-10%;
}
/* Submit Button CSS */
.form-create .Action{
    color:black;
    margin-top: -50px;
    margin-left: 10%;
}
/* Back Button CSS */
.form-create .Back-Action{
    margin-top: -50px;
    margin-left: 5%;
}

.qrdetails-content .header{
    width: 70%;
    margin-left: 17%;
    margin-top: 2%;
}

.qrdetails-content .details-information{
    margin-left:47%;
    margin-top: 1%;
}

.qrdetails-content .details-information-title{
    margin-top: -2.5%;
}

.qrdetails-content .details-information-body{
    margin-top: 2%;
}

.qrdetails-content .details-title{
    margin-top: -21%;
    margin-left: 47%;
    width: 40%;
}
.qrdetails-content .details-pictures{
    margin-top: 3%;
}
.qrdetails-content .QRBack{
    margin-left: 40%;
    margin-top:2%;
}
.qrdetails-content .QREdit{
    margin-left: 4%;
    margin-top: 2%;
}
