
body{
    background-color: aliceblue;
}
.QR-view .header{
    margin-left: 10%;
    width: 70%;
    margin-top:2%;
}

.QR-view .search{
    margin-left: 10%;
    margin-top:2%;
}

.QR-view .search Button{
    margin-left: 2%;
    margin-top: -0.7%;
}

.QR-view .table, .table-header{
    margin-left: 5.5%;
    width: 83.5%;
    margin-top:3%;

}
.QR-view img {
    width: auto;
    height: 480px;
}

.create-body .header {
    text-align: left;
    margin-left: 10%;
    width: 80%;
}

.Download-Action {
    margin-left: 56.9%;
    margin-top: -27%;
}

.Back-Action .Action{
    margin-top:20%;
}

.form-create{
    margin-left: 0;
}

.form-create input{
    width: 50%;
    margin-left: 10%;
}

.form-create label{
    margin-bottom:10px;
    margin-left: 10%;
}

.form-create label, input{
    padding-top:10px;
}

.create-body .form-pic{
    margin-top: -1%;
    margin-bottom: 1%;
}
/* QR Code CSS */
.form-create .QR-Code {
    float: right;
    margin-top: -26.5%;
    margin-right: 11.5%;
}

/* Submit Button CSS */
.form-create .Action{
    margin-top: -50px;
    margin-left: 10%;
}
/* Back Button CSS */
.form-create .Back-Action{
    margin-top: -50px;
    margin-left: 5%;
}

.qrdetails-content .header{
    width: 70%;
    margin-left: 17%;
    margin-top: 2%;
}

.qrdetails-content .details-information{
    margin-left:47%;
    margin-top: 1%;
}

.qrdetails-content .details-information-title {
    max-width: 75%;
    margin-left: 2.5%;
    margin-top: 0%;
}

.qrdetails-content .details-information-body{
    margin-top: 2%;
    margin-left: 0%;
    max-width: 29%;
}

.qrdetails-content .details-title{
    margin-top: -28%;
    margin-left: 47%;
    width: 40%;
}
.qrdetails-content .details-pictures{
    margin-top: 9%;
    max-width: 20%;
    margin-left: 15%;
}
.qrdetails-content .QRBack{
    margin-left: 40%;
    margin-top:2%;
}
.qrdetails-content .QREdit{
    margin-left: 4%;
    margin-top: 2%;
}

.create-body .header{
    margin-top: 2%;
}

.edit-body .QR-Code{
    margin-top:-32%
}

.edit-body .form-pic{
    margin-bottom: 1.5%;
}
.edit-body .header{
    width: 80%;
}
.edit-body .Download-Action{
    margin-top: -21%;
    margin-left: 56%;
}


.content-search .input-words{
    margin-left:-0%;
    max-width: 78%;
   
}
.table .hell{
background-color: white;
}
.g-4 {
    max-width: 83%;
    margin-left: 2.5%;
    margin-top: -1%;
}
.QR-view img {
    width: auto;
    height: 360px;
    margin-left: -1%;
    margin-top: 0%;
}
@media screen and (max-width: 1299px) and (min-width: 1030px) {

    .table .hell{
        background-color: white;
        }
        .g-4 {
            max-width: 88%;
            margin-left: 1.5%;
            margin-top: -1%;
        }
        .QR-view img {
            width: auto;
            height: 240px;
            margin-left: -1%;
            margin-top: 0%;
        }
}
@media screen and (max-width: 1029px) and (min-width: 782px) {

    .table .hell{
        background-color: white;
        }
        .g-4 {
            max-width: 91%;
            margin-left: 1.5%;
            margin-top: 2%;
        }
        .QR-view img {
            max-width: auto;
            max-height: 160px;
            margin-left: -3%;
            margin-top: -1%;
        }
        
}
@media screen and (max-width: 767px) and (min-width: 601px) {

    .table .hell{
        background-color: white;
        }
        .g-4 {
            max-width: 97%;
            margin-left: -2.5%;
            margin-top: 2%;
        }
        .QR-view img {
            width: auto;
            height: 360px;
            margin-left: -2%;
            margin-top: -2%;
        }
        
}
@media screen and (max-width: 600px) and (min-width: 360px) {

    .table .hell{
        background-color: white;
        }
        .g-4 {
            max-width: 100%;
            margin-left: -4.5%;
            margin-top: 2%;
        }
        .QR-view img {
            width: auto;
            height: 360px;
            margin-left: 2%;
            margin-top: 2%;
        }
        .content-search .input-words {
            margin-left: 5%;
            max-width: 65%;
            margin-top: 11%;
        }
        .QR-view .header {
            margin-left: 14%;
            width: 59%;
            margin-top: 10%;
        }
}
@media screen and (max-width: 359px) and (min-width: 280px) {
    .table .hell{
        background-color: white;
        }
        .g-4 {
            max-width: 100%;
            margin-left: -4.5%;
            margin-top: 2%;
        }
        .QR-view img {
            width: auto;
            height: 140px;
            margin-left: 1%;
            margin-top: 2%;
        }
        .content-search .input-words {
            margin-left: 8%;
            margin-top: 12%;
            max-width: 59%;
        }
        .QR-view .header {
            margin-left: 18%;
            max-width: 54%;
            margin-top: 10%;
        }
}