.content-kitdata{
   margin-right: 50%;
   margin-top: 2.5%;
}

.content-header .search {
    margin-left: 50%;
    margin-top: -30%;
}
.content-header Button{
    margin-left: 5%;
    margin-top: -1%;
}
.content-header {
    margin-left: 50%;
    margin-top: -30%;
}
.search-button{
    max-width: 20%;
    margin-left: 50%;
    margin-top: -5%;
}
.search-button Button{
    margin-left: 70%;
    margin-top: -19.5%;
}
.content .content-table .contenthell Card{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    max-width: 100%;

}

.member-details-pictures {
    width: 25%;
    height: 360px;
    margin-left: 18%;
    margin-top: 5%;
}

.member-details-pictures img{
    max-width: auto;
    height: 240px;
    margin-left: 2%;
    margin-top: 2%;
}

.member-details-header{
    margin-top: 3%;;
    margin-left: 18%;
}

.member-details-header hr{
    max-width: 74%;
}

.member-details-title {
  margin-top: -75%;
  margin-left: 125%;
  width: 115%;
}
.member-details-title hr {
  width: 102%;
}

.member-details-information{
    margin-left: 125%;
    width: 100%;
}
.member-details-information-title{
    width: 115%;
    text-align: center;
}
.member-details-information-title h3{
    margin-top: 2%;
}
.member-details-information-body{
    margin-top: 5%;
    width: 115%;
}
.member-details-back{
    margin-left:90%;
    margin-top: 10%;
}
.member-details-reserve{
    margin-left:110%;
    margin-top: -14%;
}
  