.setting-content .setting-content-header h1{
    margin-left: 20%;
    margin-top: 2.5%;
}
.setting-content .setting-content-body .setting-content-body-1{
    margin-top:1.5%;
    max-width: 50%;
    margin-left: 20%;
}

.setting-content .setting-content-body .setting-content-body-2{
  margin-top:4%;
  max-width: 50%;
  margin-left: 20%;
}
.setting-content .setting-content-body .setting-content-body-3{
    margin-top:4%;
    max-width: 50%;
    margin-left: 20%;
}