.header-title{
    margin-left: 60%;
    margin-top: 12%;
}
.body-content{
    max-width: 60%;
    margin-left: 54%;
    padding-top: 2%;
    width: 60%;

}
.body-content Button{
    margin-top:2%;
    margin-left: 10%;
}

.forgotbutton{
    margin-left: 10%;
    margin-top:1%;
}
.body-content .mb-3{
    margin-bottom: 10%;
}

#passwordinput{
    padding-top: 1%;
}
#emailinput{
    padding-top: 1%;
}
#forgotpassword{
    margin-top: 3%;
}
.signup-body-content {
    max-width: 40%;
    margin-left: 50%;
    margin-top: 5%;
}
.signup-body-content .signup-body-form Form.Group{ 
    padding-top: 20%;
}
.signup-body-form Button{
    margin-top:4.5%;
}


@media screen and (max-width: 700px) and (min-width: 360px) {
    .header-title {
        margin-left: 11%;
        margin-top: 10%;
    }

    .mb-3 {
        max-width: 82%;
        margin-left: 10%;
    }

    .body-content {
        margin-left: -4.5%;
    padding-top: 5%;
    max-width: 160%;
    width: 160%;
    }
  
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    .header-title {
        margin-left: 11%;
        margin-top: 15%;
    }

    .mb-3 {
        max-width: 82%;
        margin-left: 10%;
    }

    .body-content {
        margin-left: 1.5%;
        padding-top: 5%;
        max-width: 120%;
        width: 100%;
    }
  
}