
/* Desktop User Inte*/
body{
    margin: 0;
    padding: 0;
}
.content{
    margin-left:100px;
    margin-top: 30px;
}

.content .input{
    width: 90%;
}

.content-search{
    margin-left: 10%;
    margin-top: 2%;
    max-width: 66%;
}

.content-search Button{
    margin-left: 2%;
    margin-top: -0.7%;
}

.content-header{
    margin-left: 10%;
    width: 65%;
    margin-top: 3%;
}

.content-table {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    max-width: 700%;
    margin-left: 10%;
    margin-top:2%;
}

.photo Card.Img{
    margin-left: -10%;
}

.content .form-group{
    padding-bottom: 20px;
    width:50%;
    margin-top:10px;
}

.content label{
    padding-bottom: 10px;
}

.content .back-action, .submit{
    margin-top: 50px;
}

.content .back-action{
    margin-left: 50px;
}
.content-form{
    margin-left: 10%;
    margin-top: 2%;
}

/* Details*/ 
.details-header{
    max-width: 70%;
    margin-left: 14%;
    margin-top: 1.5%;
}
.details-pictures {
    margin-right: 45%;
    margin-top: 5%;
    width: '18rem';
}
.details-pictures img{
    width: 283px;
    height: 283px;
}

.details-edit{
    margin-left: 38%;
    max-width: 20%;
    color: white;
}

.details-pictures .staffdetails-card{
    max-width: 30%;
    margin-top: 5%;
}

.details-edit img{
  width: 25px;
  height: 25px;
  margin-left: -10px; 
}

.details-uploadphoto{
    margin-left: 49%;
    margin-top: -6.5%;
    color: white;
}

.details-uploadphoto img{
    width: 25px;
    height: 25px;
    margin-left: -10px; 
}

.details-picture .staffdetails-card{
    max-width: 30%;
}
.details-title{
    margin-top: -43%;
    margin-left: 80%;
    width: 72%;
}


.details-information-title h3 {
    margin-top: 10px;
    margin-left: 20px;
}

.details-information {
    width: 81%;
    margin-left: 74%;
    margin-top: 2%;
}
.details-information-body{
    margin-top: 2%;
}

/* Button */
.details-content .details-back {
    margin-top: 18%;
    margin-left: 103%;
}
/* Button */
.details-content .details-archive {
    margin-left: 87%;
    margin-top: -6%;
}

/* Edit Page */
.edit-body .header{
    margin-left: 10%;
    width: 70%;
    margin-top:2%;
}
.form-details Form{
    margin-left: 0%;
    margin-top: 2%;
}

.form-details textarea{
    max-width: 50%;
    margin-left: 10%;
}
.form-details .form-pic img{
    margin-left: 9%;
    width: 300px;
    height: auto;
    margin-top: 2%;
}

.form-details .line{
    margin-left:-7%;
    max-width: 100%;
}

/* Button */
.edit-body .form-details .Back-Action{
    margin-top: 5%;
    margin-left: 5%;
}
.edit-body .form-details .Submit-Action{
    margin-top: 5%;
    margin-left: 10%;
}

.content-search .input-words{
    max-width: 72.5%;
    margin-left: 0%;
}

.kitcontent-photo{
    height: 305px;
    width: auto;
}
.g-4b{
    max-width: 100%;
    margin-left: -4.5%;
}

/* Custom Screen Size for different devices */
@media screen and (max-width: 360px) and (min-width: 280px) {
    .content-header {
        margin-left: -33%;
        width: 109%;
        margin-top: 3%;
    }
    .g-4 {
        max-width: 20.25%;
        margin-left: -8%;
        margin-top: 2.5%;
    }
    .kitcontent-photo {
        height: 210px;
        width: auto;
    }
    .content-search .input-words-a {
        margin-left: -29%;
        max-width: 100%;
        
    }
    .content-header {
        margin-left: -17%;
        max-width: 100%;
        margin-top: 10%;
    }
    .g-4b {
        max-width: 24%;
        margin-left: -8%;
        margin-top: 2%;
    }
    .kitcontent-photo {
        height: 210px;
        width: auto;
    }
    .details-pictures .staffdetails-card {
        max-width: 30%;
        margin-top: 5%;
    }
    .details-uploadphoto {
        margin-left: 28%;
        color: white;
        width: 105%;
        margin-top: 25%;
    }
    .details-uploadphoto img{
        width: 35px;
        height: 35px;
        margin-left: -10px;
    }
    .details-edit {
        margin-left: 27%;
        max-width: 80%;
        color: white;
    }
    .details-title {
        margin-top: 25%;
        margin-left: 32%;
        width: 100%;
    }
    .details-edit img {
        width: 35px;
        height: 35px;
        margin-left: -10px;
        margin-top: 2%;
    }
    .staffdetails-card img{
        width: 200px;
        height: 200px;
        margin-left: -17px;
    }
    .details-information {
        width: 145%;
        margin-left: 13%;
        margin-top: 2%;
    }
    .details-content .details-archive {
        margin-left: 37%;
        margin-top: -42%;
    }
    .details-header {
        max-width: 80%;
        margin-left: 14%;
        margin-top: 12%;
    }
}

@media screen and (max-width: 557px) and (min-width: 360px) {
    .content-header {
        margin-left: -13%;
        max-width: 91%;
        margin-top: 12%;
    }
    .g-4b {
        max-width: 28.5%;
        margin-left: -10.5%;
        margin-top: 2%;
    }
    .kitcontent-photo {
        height: 210px;
        width: auto;
    }
    .content-search .input-words-a {
        max-width: 81%;
        margin-left: -26%;
        margin-top: 10%;
    }
    .staffdetails-card img{
        width: 200px;
        height: 200px;
        margin-left: -17px;
    }
    .details-information {
        width: 145%;
        margin-left: 13%;
        margin-top: 2%;
    }
    .details-content .details-archive {
        margin-left: 37%;
        margin-top: -42%;
    }
    .details-header {
        max-width: 80%;
        margin-left: 14%;
        margin-top: 12%;
    }
    .details-title {
        margin-top: 16%;
        margin-left: 26%;
        width: 100%;
    }
    .details-edit img {
        width: 35px;
        height: 35px;
        margin-left: -10px;
        margin-top: 2%;
    }
    .staffdetails-card img{
        width: 200px;
        height: 200px;
        margin-left: -17px;
    }
    .details-uploadphoto {
        margin-left: 28%;
        color: white;
        width: 105%;
        margin-top: 15%;
    }
    .details-uploadphoto img {
        width: 35px;
        height: 35px;
        margin-left: -10px;
    }
    .details-edit {
        margin-left: 27%;
        max-width: 80%;
        color: white;
    }
}
  
    
@media screen and (max-width: 600px) and (min-width: 558px) {
    .g-4b {
        max-width: 26.5%;
        margin-left: -10.3%;
        margin-top: 2%;
    }
    .content-search .input-words-a {
        margin-left: -22%;
        max-width: 64%;
    }
    .kitcontent-photo {
        height: 230px;
        width: auto;
    }
    .content-header {
        margin-left: -9%;
        max-width: 55%;
        margin-top: 10%;
    }
    .staffdetails-card img{
        width: 200px;
        height: 200px;
        margin-left: -17px;
    }
    .details-information {
        width: 145%;
        margin-left: 13%;
        margin-top: 2%;
    }
    .details-content .details-archive {
        margin-left: 59%;
        margin-top: -22%;
    }
    .details-header {
        max-width: 80%;
        margin-left: 14%;
        margin-top: 12%;
    }
    .details-title {
        margin-top: 16%;
        margin-left: 26%;
        width: 100%;
    }
    .details-edit img {
        width: 35px;
        height: 35px;
        margin-left: -10px;
        margin-top: 2%;
    }
    .staffdetails-card img{
        width: 200px;
        height: 200px;
        margin-left: -17px;
    }
    .details-uploadphoto {
        margin-left: 28%;
        color: white;
        width: 105%;
        margin-top: 15%;
    }
    .details-uploadphoto img {
        width: 35px;
        height: 35px;
        margin-left: -10px;
    }
    .details-edit {
        margin-left: 27%;
        max-width: 80%;
        color: white;
    }
    .details-content .details-back {
        margin-top: 16%;
        margin-left: 100%;
    }
}

@media screen and (max-width: 767px) and (min-width: 601px) {
    .g-4b {
        max-width: 26.5%;
        margin-left: -10.3%;
        margin-top: 2%;
    }
    .content-search .input-words-a {
        margin-left: -18%;
        max-width: 48%;
    }
    .kitcontent-photo {
        height: 230px;
        width: auto;
    }
    .content-header {
        margin-left: -6%;
        max-width: 43%;
        margin-top: 10%;
    }
    .staffdetails-card img{
        width: 200px;
        height: 200px;
        margin-left: -17px;
    }
    .details-information {
        width: 145%;
        margin-left: 13%;
        margin-top: 2%;
    }
    .details-content .details-archive {
        margin-left: 59%;
        margin-top: -16%;
    }
    .details-header {
        max-width: 80%;
        margin-left: 14%;
        margin-top: 12%;
    }
    .details-title {
        margin-top: 16%;
        margin-left: 26%;
        width: 100%;
    }
    .details-edit img {
        width: 35px;
        height: 35px;
        margin-left: -10px;
        margin-top: 2%;
    }
    .staffdetails-card img {
        width: auto;
        height: 280px;
        margin-left: -36px;
    }
    .details-uploadphoto {
        margin-left: 28%;
        color: white;
        width: 105%;
        margin-top: 15%;
    }
    .details-uploadphoto img {
        width: 35px;
        height: 35px;
        margin-left: -10px;
    }
    .details-edit {
        margin-left: 27%;
        max-width: 80%;
        color: white;
    }
    .details-content .details-back {
        margin-top: 16%;
        margin-left: 90%;
    }
 
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
    .g-4b {
        max-width: 60%;
        margin-left: -12.5%;
        margin-top: 2%;
    
    }
    .content-search .input-words-a {
        margin-left: -22%;
        max-width: 100%;
        margin-top: 10%;
    }
    .kitcontent-photo {
        height: 230px;
        width: auto;
    }
    .content-header {
        margin-left: -6%;
        max-width: 43%;
        margin-top: 10%;
    }

    .staffdetails-card img{
        width: 200px;
        height: 200px;
        margin-left: -17px;
    }
    .details-information {
        width: 145%;
        margin-left: 13%;
        margin-top: 2%;
    }
    .details-content .details-archive {
        margin-left: 59%;
        margin-top: -12%;
    }
    .details-header {
        max-width: 80%;
        margin-left: 14%;
        margin-top: 12%;
    }
    .details-title {
        margin-top: 14%;
        margin-left: 26%;
        width: 100%;
    }
    .details-edit img {
        width: 35px;
        height: 35px;
        margin-left: -10px;
        margin-top: 2%;
    }
    .staffdetails-card img{
        width: auto;
        height: 480px;
        margin-left: -41px;
    }
    .details-uploadphoto {
        margin-left: 28%;
        color: white;
        width: 105%;
        margin-top: 10%;
    }
    .details-uploadphoto img {
        width: 35px;
        height: 35px;
        margin-left: -10px;
    }
    .details-edit {
        margin-left: 27%;
        max-width: 80%;
        color: white;
    }
    .details-content .details-back {
        margin-top: 16%;
        margin-left: 90%;
    }
}

@media screen and (max-width: 1299px) and (min-width: 1001px) {
    .g-4b {
        max-width: 81%;
        margin-left: -3.5%;
        margin-top: 2%;
    
    }
    .content-search .input-words-a {
        margin-left: 0%;
        max-width: 100%;
    }
    .kitcontent-photo {
        height: 230px;
        width: auto;
    }
    .content-header {
        margin-left: 10%;
        max-width: 43%;
        margin-top: 10%;
    }
   
    .details-information {
        width: 145%;
        margin-left: 13%;
        margin-top: 2%;
    }
    .details-content .details-archive {
        margin-left: 59%;
        margin-top: -12%;
    }
    .details-header {
        max-width: 70%;
        margin-left: 13%;
        margin-top: 5%;
    
    }
    .details-title {
        margin-top: 14%;
        margin-left: 25%;
        width: 126%;
    }
    .details-edit img {
        width: 35px;
        height: 35px;
        margin-left: -10px;
        margin-top: 2%;
    }
    .staffdetails-card img{
        width: auto;
        height: 480px;
        margin-left: -64px;
        margin-top: -21px;
    }
    .details-uploadphoto {
        margin-left: 73%;
        color: white;
        width: 31%;
        margin-top: -12%;
        position: initial;
    }
    .details-uploadphoto img {
        width: 35px;
        height: 35px;
        margin-left: -10px;
    }
    .details-edit {
        margin-left: 41%;
        width: 25%;
        color: white;
        margin-top: 8%;
    }
    .details-content .details-back {
        margin-top: 16%;
        margin-left: 90%;
    }
}

@media screen and (max-width: 1519px) and (min-width: 1300px) {
    .g-4b {
        max-width: 77%;
        margin-left: -3.5%;
        margin-top: 2%;
    
    }
    .content-search .input-words-a {
        margin-left: 0%;
        max-width: 71%;
    }
    .kitcontent-photo {
        height: 230px;
        width: auto;
    }
    .content-header {
        margin-left: 10%;
        max-width: 43%;
        margin-top: 10%;
    }
    details-information {
        width: 145%;
        margin-left: 13%;
        margin-top: 2%;
    }
    .details-content .details-archive {
        margin-left: 59%;
        margin-top: -9%;
    }
    .details-header {
        max-width: 70%;
        margin-left: 13%;
        margin-top: 5%;
    
    }
    .details-title {
        margin-top: 14%;
        margin-left: 25%;
        width: 126%;
    }
    .details-edit img {
        width: 35px;
        height: 35px;
        margin-left: -10px;
        margin-top: 2%;
    }
    .staffdetails-card img{
        width: auto;
        height: 480px;
        margin-left: -64px;
        margin-top: -21px;
    }
    .details-uploadphoto {
        margin-left: 73%;
        color: white;
        width: 31%;
        margin-top: -11%;
        position: initial;
    }
    .details-uploadphoto img {
        width: 35px;
        height: 35px;
        margin-left: -10px;
    }
    .details-edit {
        margin-left: 41%;
        width: 25%;
        margin-top: 8%;
        color: white;
    }
    .details-content .details-back {
        margin-top: 13%;
        margin-left: 82%;
    }
    .details-information {
        width: 100%;
        margin-left: 17%;
        margin-top: 2%;
    }
}

@media screen and (max-width: 1919px) and (min-width: 1520px) {
    .g-4b {
        max-width: 94%;
        margin-left: -3.5%;
        margin-top: 2%;
    }
    .content-search .input-words-a {
        margin-left: 0%;
        max-width: 71%;
    }
    .kitcontent-photo {
        height: 230px;
        width: auto;
    }
    .content-header {
        margin-left: 10%;
        max-width: 43%;
        margin-top: 10%;
    }
    details-information {
        width: 145%;
        margin-left: 13%;
        margin-top: 2%;
    }
    .details-content .details-archive {
        margin-left: 66%;
        margin-top: -8%;
    }
    .details-header {
        max-width: 70%;
        margin-left: 13%;
        margin-top: 5%;
    
    }
    .details-title {
        margin-top: 14%;
        margin-left: 25%;
        width: 126%;
    }
    .details-edit img {
        width: 35px;
        height: 35px;
        margin-left: -10px;
        margin-top: 2%;
    }
    .staffdetails-card img{
        width: auto;
        height: 480px;
        margin-left: -64px;
        margin-top: -21px;
    }
    .details-uploadphoto {
        margin-left: 73%;
        color: white;
        width: 31%;
        margin-top: -9%;
        position: initial;
    }
    .details-uploadphoto img {
        width: 35px;
        height: 35px;
        margin-left: -10px;
    }
    .details-edit {
        margin-left: 41%;
        width: 25%;
        margin-top: 8%;
        color: white;
    }
    .details-content .details-back {
        margin-top: 16%;
        margin-left: 90%;
    }
    .details-information {
        width: 101%;
        margin-left: 17%;
        margin-top: 2%;
    }
}