body{
    margin: 0;
}

.content{
    text-align: justify;
    margin-top: 2%;
    margin-left: 10%;
  
}
.content .table{
    width: 95%;
    padding-top: 25px;
}


hr{
   color:black;
   width: 90%;
}
.form-group {
    width: 92%;
    padding: 10px;
    margin-left: -12px;
}
.form-group label{
    padding-bottom: 10px;
}
.submit{
   margin-top:10px;
   margin-left:-8px;
}