.kitborrowed-total {
    margin-left: 20%;
    margin-top: 12%;
}

.kitreturned-total {
    margin-left: 40%;
    margin-top: -27.25%;
}

.kit-total {
    margin-left: 20%;
    margin-top: -23%;

}


.staff-kit {
    margin-left: 20%;
    max-width: 55%;
    margin-top: 6.5%;
}

.member-total {
    margin-left: 60%;
    margin-top: 3%;
}

.Confirmed-total {
    margin-left: 40%;
    margin-top: -20.25%;
}

.ReadyC-total {
    margin-left: 60%;
    margin-top: -8.75%;
  
}

.down {
    max-width: 55%;
    margin-left: 20%;
    margin-top: 13%;
}

.Member-stafft {
    margin-left: 20%;
    max-width: 55%;
    margin-top: 0%;
}

.Member-total{
    margin-top:-2%;
    margin-left:20%;
}

.Staff-total{
    margin-top:-12.25%;
    margin-left:40%;
}

@media screen and (max-width: 1000px) and (min-width: 360px) {
    .kitborrowed-total {
        margin-left: 15%;
    }
    .kitreturned-total{
        margin-top: 2.5%;
        margin-left: 15%;   
    }
    .kit-total{
        margin-top: 2.5%;
        margin-left: 15%;   
    }
    .member-total{
        margin-top: 8%;
        margin-left: 15%;   
    }
    .Confirmed-total{
        margin-top: 2.5%;
        margin-left: 15%;   
    }
    .ReadyC-total{
        margin-top: 8%;
        margin-left: 15%; 
    }
    .staff-kit{
        margin-top:2%;
        margin-left: 16%;
    }
    .Member-stafft {
        margin-top:4%;
        margin-left: 15%;
    }
    .down{
        margin-left: 15%;
        margin-top: 4%;
    }
    .Member-total{
        margin-left: 15%;
        margin-top: 8%;
    }
    .Staff-total{
        margin-left: 15%;
        margin-top: 8%;
    }
  }
  
  @media screen and (max-width: 1900px) and (min-width: 1000px) {
    .kitborrowed-total {
        margin-left: 15%;
    }
    .kitreturned-total{
        margin-top: -17.8%;
        position:fixed;
        margin-left: 50%;   
    }
    .kit-total{
        margin-top: 2.5%;
        margin-left: 15%;   
    }
    .member-total{
        margin-top: 8%;
        margin-left: 15%;   
    }
    .Confirmed-total{
        margin-top: 2.5%;
        margin-left: 15%;   
    }
    .ReadyC-total{
        margin-top: 8%;
        margin-left: 15%; 
    }
    .staff-kit{
        margin-top:2%;
        margin-left: 16%;
    }
    .Member-stafft {
        margin-top:4%;
        margin-left: 15%;
    }
    .down{
        margin-left: 15%;
        margin-top: 4%;
    }
    .Member-total{
        margin-left: 15%;
        margin-top: 8%;
    }
    .Staff-total{
        margin-left: 15%;
        margin-top: 8%;
    }
  
   }