body{
    margin: 0;
    padding: 0;
}
.content{
    margin-left:100px;
    margin-top: 30px;
}

.content .input{
    width: 90%;
}

.content-search{
    margin-left: 10%;
    margin-top:2%;
}

.content-search Button{
    margin-left: 2%;
    margin-top: -0.7%;
}

.content-header{
    margin-left: 10%;
    width: 70%;
    margin-top:3%;
}

.content-table{
    margin-left: 9.5%;
    width: 70.5%;
    margin-top:3%;
}

.content .form-group{
    padding-bottom: 20px;
    width:50%;
    margin-top:10px;
}

.content label{
    padding-bottom: 10px;
}

.content .back-action, .submit{
    margin-top: 50px;
}

.content .back-action{
    margin-left: 50px;
}
.content-form{
    margin-left: 10%;
    margin-top: 2%;
}
