body{
    margin: 0;
    padding: 0;
}
.content{
    margin-left:100px;
    margin-top: 30px;
}

.content hr{
    width: 90%;
}

.content .input{
    width: 90%;
}

.content .form-group{
    padding-bottom: 20px;
    width:50%;
    margin-top:10px;
}

.content label{
    padding-bottom: 10px;
}

.content .form-pic{
    float:right;
    margin-top: -26%;
    margin-right: 100px;
}

.content .back-action, .submit{
    margin-left: 30px;
    margin-top: 20px;
}

.table{
    width: 95%;
}

.form-control{
    margin-left:190px;
    max-width: 50%;
}
